{{ attach_library('rotary_bootstrap/vue-library') }}
<div class="page-wrapper">
	<header class="main-header header-style-two alternate-two fixed-header">
		{{ page.header }}
	</header>
	<main role="main">
		<div id="app" class="container mt-5" style="margin-top:150px !important">
			{% verbatim %}
				<form v-on:submit.prevent="submitRegistration">
					<div class="row">
						<div class="col-12">
							<h1 class="text-center">Welcome, To The Event Registration.</h1>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Your Name
									<span class="text-red">*</span>
								</label>
								<input type="text" required v-model="formData.registrantName" class="form-control ">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Email<span class="text-red">*</span>
								</label>
								<input type="email" required v-model="formData.email" class="form-control " placeholder="">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Password<span class="text-red">*</span>
								</label>
								<input required name="password" type="password" required v-model="formData.password" class="form-control " id="password" placeholder="Password">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Confrim Password<span class="text-red">*</span>
								</label>
								<input type="password" required v-model="formData.confirmpassword" class="form-control " placeholder="Password">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="registration-type">Registration Type<span class="text-red">*</span>
								</label>
								<select id="registration-type" required @change="selectRegistrationType($event)" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option v-for="registrationType in registrationTypes" :key="registrationType.tid" :value="registrationType.tid">{{registrationType.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="club">Zone<span class="text-red">*</span>
								</label>
								<select id="zones" required v-model="formData.zoneId" @change="loadClubs($event)" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option v-for="zone in zones" :key="zone.tid" :value="zone.tid">{{zone.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="club">Club<span class="text-red">*</span>
								</label>
								<select id="clubs" required v-model="formData.clubId" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option v-for="club in clubs" :key="club.tid" :value="club.tid">{{club.name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Mobile<span class="text-red">*</span>
								</label>
								<input type="text" required v-model="formData.mobile" class="form-control " placeholder="">
							</div>
						</div>


						<div class="col-6">
							<div class="form-group">
								<label for="club">Payment Method<span class="text-red">*</span>
								</label>
								<select id="club" required v-model="formData.paymentMode" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option value="cheque">Cheque</option>
									<option value="neft">Neft</option>
									<option value="gpay">Google Pay</option>
									<option value="directbanktransfer">Direct Bank Transfer</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Current Designation<span class="text-red">*</span>
								</label>
								<input type="text" required v-model="formData.currentDesignation" class="form-control " placeholder="">
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="club">Food Preference<span class="text-red">*</span>
								</label>
								<select id="foodprefs" required v-model="formData.foodprefs" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option value="veg">Veg</option>
									<option value="neft">Non Veg</option>

								</select>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label for="yourname">Contact Address<span class="text-red">*</span>
								</label>
								<textarea type="text" required v-model="formData.contactAddress" class="form-control " placeholder=""></textarea>
							</div>
						</div>
						<div v-if="selectedRegistrationType!=null" class="col-12 my-4">
							<div class="col-12">
								<div class="float-right" style="width: 350px;">
									<h3>
										Total Amout:
										{{selectedRegistrationType["price"]}}
										INR</h3>
								</div>

							</div>
						</div>


						<div class="col-12" v-if="this.selectRegistrationType!=null">
							<table class="table table-striped">
								<thead>
									<tr>
										<th scope="col">#</th>
										<th scope="col">Full Name<span class="text-red">*</span>
										</th>
										<th scope="col">Mobile Number<span class="text-red">*</span>
										</th>
										<th scope="col">Food Preference<span class="text-red">*</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="index in dependantsCount">
										<th scope="row">{{index}}</th>
										<td><input required type="text" v-model="formData.dependants[index-1]['fullname']" class="form-control "></td>
										<td><input required type="text" v-model="formData.dependants[index-1]['mobilenumber']" class="form-control "></td>
										<td>
											<select required v-model="formData.dependants[index-1]['foodprefs']" class="custom-select custom-select-sm">
												<option selected>Select One</option>
												<option value="veg">Veg</option>
												<option value="nonveg">Non-Veg</option>
											</select>
										</td>
									</tr>
								</tbody>
							</table>


						</div>
						<div class="col-12 mt-5">
							<button type="submit" class="btn btn-primary btn-lg float-right w-100">Register</button>
						</div>

					</div>
				</form>
			{% endverbatim %}
		</div>
	</main>

	{% if page.footer %}
		<footer class="mt-auto {{ footer_classes }}">
			<div class="{{ b4_top_container }}">
				{{ page.footer }}
			</div>
		</footer>
	{% endif %}
</div>
