
<div class="page-wrapper">
<header class="main-header header-style-two alternate-two fixed-header">
  {{ page.header }}
</header>
  {{page.section_first}}
  {{page.scheudles}}
  {{page.section_second}}
  {{page.general_questions}}
<main role="main">

</main>

{% if page.footer %}
<footer class="mt-auto {{ footer_classes }}">
  <div class="{{ b4_top_container }}">
    {{ page.footer }}
  </div>
</footer>
{% endif %}
</div>
