{{ attach_library('rotary_events_main/vue-single-registration') }}
<div class="page-wrapper">
	<header class="main-header header-style-two alternate-two fixed-header">
		{{ page.header }}
	</header>
	<main role="main">
		<div id="app" class="container">
			{% verbatim %}
				<form v-on:submit.prevent="submitRegistration('n/a')">
					<div class="row">
						<div class="col-12">
							<h1 class="text-center">Welcome, To The Event Registration.</h1>
							<h6 class="text-center mb-3">for multiple registration click
								<a href="/3182event/multiple/registration">here</a>.</h6>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Full Name
									<span class="text-red">*</span>
								</label>
								<input type="text" v-validate="'required'" name="fullname" v-model="formData.registrantName" class="form-control ">
								<span class="text-red">{{ errors.first('fullname') }}</span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="registration-type">Registration Type<span class="text-red">*</span>
								</label>
								<select id="registration-type" v-validate="'required'" name="registrationtype" @change="selectRegistrationType($event)" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option v-for="registrationType in registrationTypes" :key="registrationType.tid" :value="registrationType.tid">{{registrationType.name}}</option>
								</select>
								<span class="text-red">{{ errors.first('registrationtype') }}</span>
							</div>
						</div>
						
						<div class="col-12" v-if="this.formData.registrationType=='12'">
							<div class="row" v-for="index in dependantsCount" :key="index">
								<div class="col-6">
									<div class="form-group">
										<label>Ann's Full Name<span class="text-red">*</span>
										</label>
										<input type="text" v-validate="'required'" :name="'user2fullname'+index" key="user2fullname" v-model="formData.dependants[index-1]['fullname']" class="form-control ">
										<span class="text-red">{{errors.first("user2fullname" + index)}}</span>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label>Ann's Mobile<span class="text-red">*</span>
										</label>
										<input type="text" v-validate="'required'" :name="'user2mobilenumber'+index" key="user2mobilenumber" v-model="formData.dependants[index-1]['mobilenumber']" class="form-control ">
										<span class="text-red">{{errors.first("user2mobilenumber" + index)}}</span>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<label>Ann's Food Prefs<span class="text-red">*</span>
										</label>
										<select v-validate="'required'" :name="'user2foodprefs'+index" key="user2foodprefs" v-model="formData.dependants[index-1]['foodprefs']" class="custom-select custom-select-sm">
											<option selected>Select One</option>
											<option value="veg">Veg</option>
											<option value="nonveg">Non-Veg</option>
										</select>
										<span class="text-red">{{errors.first("user2foodprefs" + index)}}</span>
									</div>
								</div>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="club">Zone<span class="text-red">*</span>
								</label>
								<select id="zones" v-validate="'required'" name="zone" v-model="formData.zoneId" @change="loadClubs($event)" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option v-for="zone in zones" :key="zone.tid" :value="zone.tid">{{zone.name}}</option>
								</select>
								<span class="text-red">{{ errors.first('zone') }}</span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="club">Club<span class="text-red">*</span>
								</label>
								<select id="clubs" v-model="formData.clubId" v-validate="'required'" name="club" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option v-for="club in clubs" :key="club.tid" :value="club.tid">{{club.name}}</option>
								</select>
								<span class="text-red">{{ errors.first('club') }}</span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Mobile<span class="text-red">*</span>
								</label>
								<input type="text" v-validate="'required'" name="mobile" v-model="formData.mobile" class="form-control " placeholder="">
								<span class="text-red">{{ errors.first('mobile') }}</span>
							</div>
						</div>


						<div class="col-6">
							<div class="form-group">
								<label for="club">Payment Method<span class="text-red">*</span>
								</label>
								<select id="club" v-validate="'required'" name="paymentMode" v-model="formData.paymentMode" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option value="cheque">Cheque</option>
									<option value="neft">Neft</option>
									<option value="cash">Cash</option>
									<option value="directbanktransfer">Direct Bank Transfer</option>
								</select>
								<span class="text-red">{{ errors.first('paymentMode') }}</span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="yourname">Current Designation(Member, President, Secretary, Etc)<span class="text-red">*</span>
								</label>
								<input type="text" v-validate="'required'" name="currentDesignation" v-model="formData.currentDesignation" class="form-control " placeholder="">
								<span class="text-red">{{ errors.first('currentDesignation') }}</span>
							</div>
						</div>
						<div class="col-6">
							<div class="form-group">
								<label for="club">Food Preference<span class="text-red">*</span>
								</label>
								<select id="foodprefs" v-validate="'required'" name="foodprefs" v-model="formData.foodprefs" class="custom-select custom-select-sm">
									<option selected>Select One</option>
									<option value="veg">Veg</option>
									<option value="nonveg">Non Veg</option>
								</select>
								<span class="text-red">{{ errors.first('foodprefs') }}</span>
							</div>
						</div>

						<div class="col-12">
							<div class="form-group">
								<label for="yourname">Contact Address<span class="text-red">*</span>
								</label>
								<textarea type="text" v-validate="'required'" name="contactAddress" v-model="formData.contactAddress" class="form-control " placeholder=""></textarea>
								<span class="text-red">{{ errors.first('contactAddress') }}</span>
							</div>
						</div>
						<div v-if="selectedRegistrationType!=null" class="col-12 my-4">
							<div class="col-12">
								<div class="float-right" style="width: 350px;">
									<h3>
										Total Amout:
										{{selectedRegistrationType["price"]}}
										INR
									</h3>
								</div>

							</div>
						</div>
						<div class="row">
						<div class="col-md-12">
						
						<h3>Payment Acknowledgement</h3>
						</div>
							<div class="col-md-6">
								<div class="form-group">
										<label>Reciept Photo
										</label>
										<input type="file" ref="ackUpload"  accept="image/*" @change="handleFileUpload($event)" data-max-size="2048" class="form-control ">
										<small>Upload picture from Bank Reciept, UPI transaction screenshot, NEFT or RTGS <br />
										max upload size is 2MB.
										 </small>
								</div>
							</div>
							<div class="col-md-6">
								<label>UTR Number
										</label>
										<input type="text"  v-model="utrnumber" class="form-control ">
										<small>Enter The UTR Number</small>
							</div>
						</div>


						<div class="row mt-5">

							<div class="col-md-12">
								<div class="row">
									<div class="col-md-12 border">
										<h1>Bank Details</h1>
										<p>
											<h4>
												<b>Account Name: RID 3182 DISCON 2022</b>
											</h4>
											<br/>

											<h4>
												<b>Current A/c No : 5107575111
													<br/>
													IFSC CODE : CBIN 0283553<br/>
													BANK: CENTRAL BANK OF INDIA, Shimoga
												</b>
											</h4>
										</p>
									</div>
								</div>
								<div class="row mt-4">

									<div class="col-md-3">
										<h4>
											<b>Rtn. M.Nagaraj</b>

										</h4>
										<br/>
										<hr/>
										<p>Contact : 9448403669</p>
										<p>Chairman - Registration Committee</p>
									</div>
								</div>
								<div class="row mt-4">
									<div class="col-md-12">
										<h2>
											<strong>REGISTRATION FEE STRUCTURE</strong>
										</h2>
										<table class="table">
											<tbody>
												<tr style="height: 74px;">
													<td style="height: 74px;">
														<p>
															<strong>Registration Type</strong>
														</p>
													</td>
													<td style="height: 74px;">
														<p>
															<strong>Before 30th SEP 2021</strong>
														</p>
													</td>
													<td style="height: 74px;">
														<p>
															<strong>Before 30th NOV 2021</strong>
														</p>
													</td>
													<td style="height: 74px;">
														<p>
															<strong>Before 31st DEC 2021</strong>
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>
															<strong>ROTARIAN</strong>
														</p>
													</td>
													<td>
														<p>
															Rs. 3600
														</p>
													</td>
													<td>
														<p>
															Rs. 3800
														</p>
													</td>
													<td>
														<p>
															Rs. 4000
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>
															<strong>ANN/ INNER WHEEL / ROTARACTOR</strong>
														</p>
													</td>
													<td>
														<p>
															Rs. 3100
														</p>
													</td>
													<td>
														<p>
															Rs. 3300
														</p>
													</td>
													<td>
														<p>
															Rs. 3500
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>
															<strong>ANNET</strong>
														</p>
													</td>
													<td>
														<p>
															Rs. 2500
														</p>
													</td>
													<td>
														<p>Rs. 2700</p>
													</td>
													<td>
														<p>Rs. 2900</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>
															<strong>GUEST</strong>
														</p>
													</td>
													<td>
														<p>Rs. 3900</p>
													</td>
													<td>
														<p>Rs. 4200</p>
													</td>
													<td>
														<p>
															Rs. 4500
														</p>
													</td>
												</tr>
												<tr>
													<td>
														<p>
															<strong>COUPLE</strong>
														</p>
													</td>
													<td>
														<p>Rs. 6200</p>
													</td>
													<td>
														<p>Rs. 6700</p>
													</td>
													<td>
														<p>
															Rs. 7200
														</p>
													</td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>


							</div>
							<div class="col-md-12 text-center mt-5">
								<img src="/bank.jpeg?" style="width: 400px;">
							</div>
						</div>
						<div class="col-md-12 text-center my-5">
						<div id="recaptcha" class="g-recaptcha"></div>
						</div>
						<div class="col-12 mt-5">
							
							<button type="submit" class="btn btn-primary btn-lg float-right w-100">Register</button>
						</div>

					</div>
				</form>
			{% endverbatim %}
		</div>
	</main>

	{% if page.footer %}
		<footer class="mt-auto {{ footer_classes }}">
			<div class="{{ b4_top_container }}">
				{{ page.footer }}
			</div>
		</footer>
	{% endif %}
</div>
